<div class="dashboard-nav" style="background-color: lightgray;">

  <p><a href="/profile">YOUR PROFILE</a></p>
  <p><a href="/logout">LOG OUT</a></p>

</div>


<div class="food-list">
  <h2>Food List</h2>

  {{#each allFoodDB}}
  <a href="/details/{{_id}}">
    <h3>{{title}}</h3>
  </a>
  {{/each}}

  <a href="/add">Add an item to the list</a>

</div>

<hr>

<div class="food-map">
  {{!-- Here goes the map --}}
</div>