<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/0b695e6c6d.js" crossorigin="anonymous"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>{{title}}</title>
</head>

<body>
  <div class="dashboard-nav">

    <div class="search">
      <form action="/search" method="POST">
        <input type="text" name="search" placeholder="Search for food">
        <button tpe="submit">Search</button>
    </div>

    <div class="user-profile"><a href="/profile"><span style="color: #fff; font-size: 34px"><i
            class="fas fa-user-circle"></i></span></a><a href="/logout">LOG OUT</a></div>
  </div>

  {{{body}}}

  {{!-- <div class="footer">
    <p>Created with ❤️</p>
  </div> --}}
</body>

</html>