<div class="page-wrapper">
  <h2>Edit Profile</h2>

  {{#with id}}

  <p><a href="/profile">← Back to profile</a></p>

  <form action="/profile/{{this}}/edit" method="POST">

    <p><input type="text" name="street" id="street" placeholder="Street"></p>

    <p><input type="text" name="houseNumber" id="houseNumber" placeholder="House n°"></p>

    <p><input type="text" name="zipcode" id="zipcode" placeholder="PLZ"></p>

    <hr>
    <button type="submit" class="signup-btn">SUBMIT</button>
  </form>

  {{/with}}

</div>