<h2>Edit Profile</h2>

{{#with id}}
<form action="/profile/{{this}}/edit" method="POST">

  <label for="zipcode">Zipcode</label>
  <input type="text" name="zipcode" id="zipcode">

  <label for="street">Street</label>
  <input type="text" name="street" id="street">

  <label for="houseNumber">HouseNumber</label>
  <input type="text" name="houseNumber" id="houseNumber">

  <button type="submit">SUBMIT</button>
</form>

{{/with}}