<div class="signup-box">
  <form action="/signup" method="POST">


    <p><input type="text" name="username" id="username" placeholder="Username"></p>

    <p><input type="text" name="password" placeholder="Password"></p>


    <button type="submit">Sign Up</button>
  </form>
  {{#if message}}
  <p style='color: red'>{{message}}</p>
  {{/if}}
</div>