@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap");

body {
  margin: 0 0 50px 0;
  padding: 0;
  height: 100%;
  font-family: "Signika", sans-serif;
  color: #fff;
  background-color: #32323e;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 3.6em;
}

h2 {
  font-size: 2.3em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: 300;
  border-radius: 23px;
  height: 33px;
}

textarea {
  height: 250px;
  padding: 4%;
}

hr {
  border-color: #58585f;
}

button {
  color: #fff;
  background-color: #7976ff;
}

input {
  padding-left: 4%;
}

img {
  border-radius: 50px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  border: 1px solid #ceced6;
}

// input[type="checkbox"] {
//   width: 100%;
// }

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  opacity: 1;
  color: red;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.dashboard-nav {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2%;
}

.img-container {
  width: 50px;
  height: auto;
}

.img-dashboard {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
  display: block;
}

.search {
  height: 5%;
}

.food-list {
  position: relative;
  overflow-y: auto;
  height: 83%;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.primary-btn,
.secondary-btn,
.signup-btn {
  border-radius: 50px;
  color: #fff;
}

.primary-btn {
  background-color: #7976ff;
  padding: 5% 10%;
  text-decoration: none;
  text-align: center;
  text-align: center;
  height: 25px;
}

.secondary-btn {
  background-color: #272730;
  text-decoration: none;
  text-align: center;
  height: 25px;
  width: 350px;
  font-size: 14px;
  font-weight: 600;
}

.signup-btn {
  background-color: #7976ff;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.food-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #58585f;
  padding: 15px 0;
}

.dashboard-address {
  color: #a4a4a7;
  font-size: 14px;
  font-weight: 300;
}

.left-column {
  width: 25%;
  padding: 0 2% 0 2%;
  height: 90vh;
}

.food-map {
  width: 75%;
}

.food-details-container {
  text-align: center;
}

// .label {
//   color: white;
//   padding: 8px;
// }
// .available {
//   background-color: #4caf50;
// }
// .blocked {
//   background-color: #2196f3;
// }
// .gone {
//   background-color: #ff9800;
// }

.signup-box {
  background-color: #fff;
  width: 350px;
  border-radius: 12px;
  color: #1e1e20;
  padding: 2%;
  height: 30vh;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mapboxgl-popup-content {
  color: #32323e;
  font-family: "Signika", sans-serif;
}

.page-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.categories-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.index-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-login {
  width: 95%;
}

.line-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cacaca;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.line-white-bg {
  background: #fff;
  padding: 0 10px;
}

.h3-login {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 5px;
}

.dark-box {
  background-color: #272730;
  padding: 2%;
  margin-top: 30px;
  max-width: 600px;
}

.span-status {
  font-weight: 600;
  font-size: 0.8em;
  background-color: #4e4e58;
  padding: 2%;
  text-transform: uppercase;
}

.img-food-details {
  width: 270px;
}

.back-btn {
  color: #ffffff;
  background-color: #ffffff63;
  padding: 10px 15px;
  border-radius: 30px;
}

/*# sourceMappingURL=style.css.map */
